@charset "UTF-8";
body {
    margin: 0 auto;
}
body,td,th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4191DE;
    background-repeat: no-repeat;
}
.box {
    background: no-repeat 0px 0px;
    margin: 0px;
    padding: 0px;
    float: none;
    height: 714px;
    width: 1200px;
    position: absolute;
    visibility: visible;
    top: 0px;
}
.smalltext {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
}
.style15 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #4191DE;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
.copy {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-repeat: no-repeat;
    position: static;
    visibility: visible;
    z-index: auto;
    height: 125px;
    width: 373px;
    top: auto;
    left: 387px;
}
.style12 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
}
a:link {
    color: #4091DE;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #63B534;
}
a:hover {
    text-decoration: none;
    color: #000099;
}
a:active {
    text-decoration: none;
}
h1 {
    font-size: 20px;
    color: #000099;
}
h2 {
    font-size: 9px;
    color: #000000;
}
#apDiv1 {
    position:absolute;
    width:260px;
    height:114px;
    z-index:1;
    top: -2px;
    left: 708px;
}
#apDiv2 {
    position:absolute;
    width:245px;
    height:86px;
    z-index:2;
    left: 57px;
    top: 14px;
}
#apDiv3 {
    position:absolute;
    width:169px;
    height:49px;
    z-index:3;
    left: 235px;
    top: 203px;
}
#apDiv4 {
    position:absolute;
    width:91px;
    height:43px;
    z-index:2;
    left: 269px;
    top: 349px;
}
#apDiv5 {
    position:absolute;
    width:200px;
    height:35px;
    z-index:2;
    left: 519px;
    top: 151px;
}
#apDiv6 {
    position:absolute;
    width:200px;
    height:115px;
    z-index:3;
    left: 563px;
    top: 472px;
}
#apDiv7 {
    position:absolute;
    width:200px;
    height:115px;
    z-index:2;
    left: 571px;
    top: 482px;
}
#apDiv8 {
    position:absolute;
    visibility:visible;
    width:134px;
    height:47px;
    z-index:3;
    left: 936px;
    top: 586px;
}
#apDiv9 {
    position:absolute;
    visibility:visible;
    width:148px;
    height:29px;
    z-index:4;
    left: 936px;
    top: 623px;
}
#apDiv10 {
    position:absolute;
    visibility:visible;
    width:200px;
    height:115px;
    z-index:5;
    left: 1324px;
    top: 216px;
}
#apDiv11 {
    position:absolute;
    visibility:visible;
    width:455px;
    height:115px;
    z-index:5;
    left: 526px;
    top: 156px;
}
#apDiv12 {  position:absolute;
    width:200px;
    height:81px;
    z-index:1;
    top: 23px;
    left: 743px;
    visibility: visible;
}
#apDiv13 {
    position:absolute;
    visibility:visible;
    width:200px;
    height:68px;
    z-index:6;
    left: 751px;
    top: 90px;
}
#apDiv14 {
    position:absolute;
    visibility:visible;
    width:111px;
    height:115px;
    z-index:6;
    left: 139px;
    top: 446px;
}
#apDiv15 {
    position:absolute;
    visibility:visible;
    width:200px;
    height:115px;
    z-index:7;
    left: 746px;
    top: 91px;
}
#apDiv16 {
    position:absolute;
    visibility:visible;
    width:200px;
    height:115px;
    z-index:7;
    left: 755px;
    top: 82px;
}
#apDiv17 {
    position:absolute;
    visibility:visible;
    width:101px;
    height:64px;
    z-index:8;
    left: 574px;
    top: 750px;
}
#apDiv1 {
  position:absolute;
  width:200px;
  height:81px;
  z-index:1;
  top: -1px;
  left: 732px;
  visibility: visible;
}
#apDiv2 {
  position:absolute;
  width:245px;
  height:86px;
  z-index:2;
  left: 188px;
  top: 142px;
}
#apDiv3 {
  position:absolute;
  width:169px;
  height:49px;
  z-index:3;
  left: 235px;
  top: 203px;
}
#apDiv4 {
  position:absolute;
  width:91px;
  height:43px;
  z-index:2;
  left: 269px;
  top: 349px;
}
#apDiv5 {
  position:absolute;
  width:200px;
  height:35px;
  z-index:2;
  left: 544px;
  top: 151px;
}
#apDiv6 {
  position:absolute;
  width:200px;
  height:115px;
  z-index:3;
  left: 563px;
  top: 472px;
}
#apDiv7 {
  position:absolute;
  width:237px;
  height:44px;
  z-index:2;
  left: 611px;
  top: 540px;
}
#apDiv8 {
  position:absolute;
  width:200px;
  height:115px;
  z-index:3;
  left: 114px;
  top: 177px;
  visibility: visible;
}
#apDiv9 {
  position:absolute;
  width:115px;
  height:44px;
  z-index:4;
  left: 694px;
  top: 495px;
  visibility: visible;
}
#apDiv10 {
  position:absolute;
  width:115px;
  height:44px;
  z-index:5;
  left: 649px;
  top: 544px;
  visibility: visible;
}
#apDiv11 {
  position:absolute;
  visibility:visible;
  width:475px;
  height:260px;
  z-index:3;
  left: 462px;
  top: 171px;
  overflow: scroll;
}
#apDiv16 {
  position:absolute;
  visibility:visible;
  width:200px;
  height:115px;
  z-index:7;
  left: 777px;
  top: 82px;
}
#apDiv12 {
  position:absolute;
  visibility:visible;
  width:104px;
  height:61px;
  z-index:8;
  left: 574px;
  top: 750px;
}
.event-header {
  font-family: 'Corben', cursive;
  color: #013f9d;
  font-size: 1.8em;
}