@charset "UTF-8";
body {
  background-image: url(../images/bg-yellow.png);
  margin: 0 auto;
  padding: 20px;
}
p {
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
}
h1 {
  font-family: 'Corben', cursive;
  color: #466C91;
  font-size: 2em;
}
h2 {
  font-family: 'Corben', cursive;
  color: #466C91;
  font-size: 1.3em;
}
a:link {
  color: #466C91;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #429678;
}
a:hover {
  text-decoration: none;
  color: #000099;
}
a:active {
  text-decoration: none;
}

.container {
  clear: both;
  background-color: white;
  width: 775px;
  min-height: 425px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px;
  border: 10px solid #466C91;
}

.content {
  margin-top: 40px;
}

.header {
  width: 775px;
  margin: 0 auto;
}

.logo {
  float: left;
}

.navigation {
  float: right;
  margin-top: 90px;
  height: 35px;
}

.nav-tabs > li {
  background-color: #466C91;
  border-radius: 4px 4px 0 0;
}

.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  opacity: 1;
}

.nav-tabs > li > a {
  color: white;
}
.nav-tabs > li > a:hover {
  color: #466C91;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #466C91;
}

#carousel {
  max-height: 400px;
}

.footer {
  clear: both;
  text-align: center;
}

.footer ul {
  margin-top: 20px;
}

.footer li {
  list-style-type: none;
  display: inline;
  margin: 20px;
}

div.contact {
  background-color: #466C91;
  margin: 40px auto;
  border-radius: 5px;
  height: 88px;
  padding: 35px 140px;
}

.vresp {
  font-family: verdana; 
  font-size: 14px;
  float: right;
  color: white;
  line-height: 6px;
}
.vresp h2 {
  color: white;
}

.vresp input {
  margin-top: 5px; 
  border: 1px solid #999; 
  padding: 3px;
}

.social a {
  margin: 0 14px;
}
